.main-content {
	position: relative;
	height: 450px;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background: #FFF !important;
}
.wrapper {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: auto;
}
.shareList {
	width: 3300px;
	height: 100%;
	float: left;
	padding: 0;
}
.shareList li {
	display: inline-block;
	vertical-align: middle;
	width: 270px;
	border: 1px solid #E6E4E1;
	border-radius: 15px;
	margin-left: 20px;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
}
.shareList li:first-child {
	margin-left: 0;
}
.shareList li img {
	border-radius: 5px;
	width: 250px;
	height: 180px;
	margin: 10px 10px 0px 10px;
}
.shareList li .img-info {
	width: 100%;
	margin-bottom: 10px;
}
.shareList .img-info .img-title {
	display: inline-block;
	width: 200px;
	height: 22px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: middle;
	font-size: 18px;
	color: #999;
	text-indent: 1em;
}
.shareList .img-info .img-comment {
	display: inline-block;
	height: 23px;
	vertical-align: middle;
	background-color: #CBCACB;
	border-radius: 23px;
}
.shareList .img-info .img-comment .comment-btn {
	width: 17px;
	height: 17px;
	margin-left: 5px;
	display: inline-block;
	vertical-align: middle;
	background: url(images/more.png) no-repeat 0 0;
}
.shareList .img-info .img-comment .comment-num {
	color: #FFF;
	display: inline-block;
	line-height: 23px;
	vertical-align: middle;
	margin: 0 8px 0 2px;
}